.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
.env
node_modules
bower_components

*.sublime*

# dotenv environment variables file
.env
.env.test
.env.production


psd
thumb
sketch

# End of https://mrkandreev.name/snippets/gitignore-generator/#react